@page
@model Tienda.CartItemsModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger" style="border: none" onclick="RemoveFromCart(@item.Product.Id)">
                        <i class="fa fa-minus-square-o fa-lg" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
    @{
        if (Model?.NumberOfProducts > 0)
        {
            <tfoot>
                <tr>
                    <td colspan="3">
                        <div style="display: flex;justify-content: space-evenly;">
                            <div>
                                <button id="search-button" style="width: 260px;background: #FF2E2F;border: none;border-radius: 25px;outline: 0;height: 35px;"
                                        onclick="location.href='@Url.Action("ClearCart", "Cart")'">
                                    <p style="margin-top: 6px; color: white; font-weight: 600; font-style: italic;">Clear Cart</p>
                                </button>
                            </div>
                            <div>
                                <button id="search-button" style="width: 260px;background: #2C2E2F;border: none;border-radius: 25px;outline: 0;height: 35px;">
                                    <embed type="image/svg+xml" src="~/fonts/paypal.svg" style="width: 4rem; vertical-align: bottom;" /> <sup style="color:white;">Checkout</sup>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        }
    }
</table>

@section Scripts {
    <script type="text/javascript">
        function RemoveFromCart(product) {
            $.ajax({
                type: "DELETE",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: '@Url.Action("RemoveProductFromCart", "Cart")',
                data: { productId: product},
                success: function (result) {
                    location.reload();
                },
                error: function (err, scnd) {
                    alert(err.statusText);
                }
            });
        }
    </script>
}